<ion-content>
<ion-card>
    
      <ion-card-content>
          <ion-list>
              <ion-list-header><h1>{{currentDist}}</h1></ion-list-header>

          <ion-label>Fielde Crops</ion-label>
        <ion-select [(ngModel)]="currentCrop" multiple="false"  (click)="presentAlertConfirm(prd)" >
          <ion-select-option *ngFor="let prd of lstproduct" [value]="prd.cropname" >{{prd.cropname}}</ion-select-option>
        </ion-select> 
         </ion-list>  

      </ion-card-content>
    
        <ion-card-content>
            <ion-list>

          <ion-label>Vegitable crops</ion-label>
          <ion-select [(ngModel)]="currentCrop" multiple="false"  (click)="presentAlertConfirm(vegprd)" >
            <ion-select-option *ngFor="let vegprd of lstvegproduct"[value]="vegprd.cropname" >{{vegprd.cropname}}{{ vegprd.weightInKg}}</ion-select-option>
            </ion-select>

          </ion-list> 

        </ion-card-content>
  
  <ion-button color="success" (click)="presentAlertConfirmOrder()">Save Order</ion-button>
  
  your order : {{currentCrop}}

  current_GrandTotalQuantity: {{current_GrandTotalQuantity}}

</ion-card>

</ion-content>
  
    