/* .card-wrapper {
    height: 100%;
    padding: 20px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .custom-card.card {
    height: 100%;
    margin: 0;
  }
  
  .scroll-view {
    height: 100%;
  } */
  
 /*  ion-card{
    // background: gray;
//border: think solid black;
     border: solid 5px springgreen;
    }
  */
 ion-icon {
  font-size: 30px;
  color: green
}
