<!-- 
<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Hello {{ currentUser  }} !!!!:)</ion-card-subtitle>
    <ion-card-title>Pune,Maharashtra</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   Select Distributor
  </ion-card-content>
</ion-card>
  <ion-card>
    <ion-card-content>

       <ion-button expand="block" color="success" (click)="SelectProduct(dist)" *ngFor="let dist of lstdistributor">
         {{dist.dname}},
         {{dist.daddress}}
       </ion-button>

      </ion-card-content>

      </ion-card>
    </ion-content>
  
 -->
 <!-- 
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> {{ currentUser  }}</ion-card-subtitle>
      <ion-card-title>Pune,Maharashtra</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Select Distributor
    </ion-card-content>
  </ion-card>
    <ion-card>
      <ion-card-content>
  
         <ion-button expand="block" color="success" (click)="SelectProduct(dist)" *ngFor="let dist of lstdistributor">
           {{dist.dname}},
           {{dist.daddress}}
         </ion-button>
  
        </ion-card-content>
  
        </ion-card>
      </ion-content>
    
   -->

 <!--   <ion-list>
    <ion-item-sliding *ngFor="let dist of lstdistributor">
      <ion-item>
        <ion-card>
          <img class="ion-img" src="assets/icon/distributors.png">
            <ion-fab right bottom>
                <button ion-fab (click)="SelectProduct(dist)">
                <ion-icon name="brush"></ion-icon>
              </button>
              </ion-fab>
              <div class="card-title"><h1>{{dist.dname}},</h1>
                {{dist.daddress}}</div>

        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
 -->
 
 <ion-card style="border-radius: 5px;">
    <ion-card-header>
      <ion-card-subtitle><h4>Hello... {{ currentUser  }}</h4></ion-card-subtitle>
      <ion-card-title><h6>Pune,Maharashtra</h6></ion-card-title>
    </ion-card-header>
  
   <!--  <ion-card-content>
    <h2>Select Distributor</h2> 
    </ion-card-content> -->
  </ion-card>
  <ion-card style="border-radius: 1px;">

 <ion-list style="border-radius: 15px;">
  <ion-item  style="border-radius: 25px;" *ngFor="let dist of lstdistributor">
          

    <ion-thumbnail slot="start">
      <ion-img src="assets/icon/distibutors1.png"></ion-img>
    </ion-thumbnail>
   

  
    <ion-label><h1>{{dist.dname}},</h1><h5>{{dist.daddress}}</h5></ion-label>
  
   
    <button  id="button2" ion-fab  (click)="SelectProduct(dist)" [disabled]="!isenabled" ><ion-icon name="checkmark-circle"></ion-icon></button>
   


  </ion-item>
</ion-list>
</ion-card>
<ion-button color="success" (click)="changeText(text)"  (click)="enableButton2(input)"[ngClass]="{class:isenabled,class2:!isenabled}" >{{text}}</ion-button>

<!-- <ion-input type="button" id="button1" value="button 1" onclick="enableButton2()" ></ion-input>
 -->
